/* ..........clients Logo.......... */

.clients-title{
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.clients-list{
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-logo{
  width: 170px;
  height: 92px;
  &:not(:last-child){
  margin-right: 30px;
  }
}

.clients-link{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  cursor: pointer;

  transition-property: border-color;
  transition-duration:250ms;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus{
  border-color: var(--third-text-color);
  }
}

.clients-icon{
  fill: var(--icons-color);

  transition-property: fill;
  transition-duration:250ms;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  .clients-link:hover &,
  .clients-link:focus &{
  fill: var(--third-text-color);
  }
}