/* section-two-we-offer */
.offer{
  display: flex;
  /* margin: 94px auto 94px auto; */
}
.offer__bg{
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bg-color-two);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer__list{
  width: 270px;
  &:not(:last-child){
  margin-right: 30px;
  }  
}

.offer__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.offer__description {
  padding-top: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}