/* section-two-we-offer */
.we-offer{
  display: flex;
  /* margin: 94px auto 94px auto; */
}
.we-offer-icon-bg{
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bg-color-two);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.we-offer .offer-list + .offer-list{
  margin-left: 30px;
}

.offer-list{
  width: 270px;
  
}

.offer-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}
.offer-description {
  padding-top: 10px;
  
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}